@tailwind base;
@tailwind components;
@tailwind utilities;

     :root{
        --color-BgColor: white;
        --color-TextColor: blue;
     }

     :root[class='dark']{
        --color-BgColor: black;
        --color-BgColor: lightBlue;
     }